html {
  font-size: 100%;
}

button{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.num {
  background-color: .fff;
  border: 1px solid .c4c4c4;
  font-size: 36px;
  color: White;
  background-color: Gray;
  border-color: Gray;
  font-weight: bold;
  font-family: "HelveticaNeue";
}

.oranum {
  background-color: .fff;
  border: 1px solid .c4c4c4;
  font-size: 36px;
  background-color: Orange;
  color: White;
  border-color: Orange;
  font-weight: bold;
  font-family: "HelveticaNeue";
}

.gray {
  background-color: .fff;
  border: 1px solid .c4c4c4;
  font-size: 36px;
  background-color: LightGray;
  color: Black;
  border-color: LightGray;
  font-weight: bold;
  font-family: "HelveticaNeue";
}

.grid {
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(102px, auto);
  background-color: black;
}

#answer {
  background-color: Black;
  height: 100px;
  width: 400px;
  color: White;
  text-align: right;
  font-size: 20px;
}
