html {
  font-size: 62.5%;
  box-sizing: border-box;
}

button{
  height: 100px;
  width: 100px;
  border-radius: 100px;
}

.num {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: White;
  background-color: Gray;

}

.oranum {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  background-color: Orange;
  color: White;
}

.gray {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  background-color: LightGray;
  color: Black;

}

#zero {
  /* width: 200px; */
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: White;
  background-color: Gray;
}

.op {
  color: #337cac;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows:minmax(100px, auto);
}
