html {
  font-size: 62.5%;
  box-sizing: border-box;
}

.num {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #333;
}

.oranum {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #333;
}

.gray {
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #333;
}

#zero {
  /* width: 200px; */
  background-color: #fff;
  border: 1px solid #c4c4c4;
  font-size: 2rem;
  color: #333;
}
num:hover {
  background-color: #eaeaea;
}

.op {
  color: #337cac;
}

.all-clear {
  background-color: #f0595f;
  border-color: #b0353a;
  color: #fff;
}

.all-clear:hover {
  background-color: #f17377;
}

.equals {
  background-color: #2e86c0;
  border-color: #337cac;
  color: #fff;
  height: 100%;
}

.equals:hover {
  background-color: #4e9ed4;
}

td {
  height: 100%;
  width: 100%;
  column-width: 100px;
  position: absolute;
}
